<tr>
  <td>
    <%= review.description %>
  </td>
  <td>
    <%= review.rating %>
  </td>
  <td>
    <%= review.user.first_name %> 
    <%= review.user.last_name %>
  </td>
  <td>
    <%= time_ago_in_words(review.created_at) %> ago
  </td>
  <td>
      <% if current_user.id == review.user_id %>
        <%= link_to fa_icon('trash'), product_review_path(product, review), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
  </td>
</tr>
